@media all and (max-width: 1000px) {
  .profile {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

  .product-lesson {
    width: 46%;
    margin-bottom: 50px;
  }

  .card .slide.slide1 .content {
    min-height: 265px;
  }

  .product-heading h2 {
    font-size: 20px;
  }
}
  
@media all and (max-width: 670px) {
  .profile {
    width: 100%;
  }

  .product-lesson {
    width: 100%;
  }
}
  
@media (min-width: 425px) and (max-width: 670px) {
  .product-lesson {
    width: 100%;
  }

  .card .slide.slide1 .content {
    min-height: 375px;
  }
}
