* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
.profile-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .profile {
    float: left;
    width: 21%;
    margin: 2%;
    padding: 10px;
    border-color: #bfbfbf;
    border-style: solid;
    border-width: thin;
  }

  .profile:hover {
    color: #a3a3a2;
    box-shadow:0px 0px 30px #a3a3a2;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .profile-icon {
    position: relative;
  }
  
  .profile-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .profile-name {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #3e3d3e;
  }

  .profile-description {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
    text-align: justify;
    text-justify: inter-word;
  }